*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topNav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.postCard{
  height: 200px;
}

.userPostHeader{
  display: flex;
  justify-content: space-between;
}

.container.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 100vh;
}

.form{
   width: 400px;
   height: 400px;
}
